a.out
*.o
.deps
*.swp
*.swo
.vimrc
depcomp
core
autoscan.log
aclocal.m4
autom4te.cache
configure
gmon.out
install-sh
missing
Makefile
Makefile.in
config.status
config.log
INSTALL
sniproxy-*.tar.gz
tags
test-driver
