a.out
*.o
*.cdbs-orig
.deps
.dirstamp
*.swp
*.swo
*.gcov
*.gcda
*.gcno
.vimrc
depcomp
compile
config.guess
config.sub
core
autoscan.log
aclocal.m4
autom4te.cache
configure
gmon.out
install-sh
missing
Makefile
Makefile.in
config.status
config.log
INSTALL
sniproxy-*.tar.gz
tags
test-driver
.DS_Store
