autoreconf.after
autoreconf.before
files
sniproxy.debhelper.log
sniproxy.postinst.debhelper
sniproxy.postrm.debhelper
sniproxy.prerm.debhelper
sniproxy.substvars
sniproxy
sniproxy-dbg.debhelper.log
sniproxy-dbg.substvars
sniproxy-dbg
stamp-autotools
stamp-autotools-files
stamp-makefile-build
stamp-makefile-install
tmp
