Source: sniproxy
Section: unknown
Priority: extra
Maintainer: Andreas Loibl <andreas@andreas-loibl.de>
Build-Depends: cdbs, debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.3
Vcs-Git: https://github.com/dlundquist/HTTPS-SNI-Proxy.git
Vcs-Browser: https://github.com/dlundquist/HTTPS-SNI-Proxy

Package: sniproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HTTPS SNI Proxy
 Proxies incoming HTTP and TLS connections based on the hostname contained in the initial request. This enables HTTPS name based virtual hosting to seperate backend servers without the installing the private key on the proxy machine.
