Source: sniproxy
Section: web
Priority: optional
Maintainer: Dustin Lundquist <dustin@null-ptr.net>
Build-Depends: cdbs, debhelper (>= 8.0.0), dh-autoreconf, autotools-dev, gettext, pkg-config, libev-dev (>= 4.0), libpcre2-dev | libpcre3-dev, libudns-dev
Standards-Version: 3.9.5
Vcs-Git: https://github.com/dlundquist/sniproxy.git
Vcs-Browser: https://github.com/dlundquist/sniproxy

Package: sniproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: logrotate
Description: Transparent TLS and HTTP layer 4 proxy with SNI support
 Proxies incoming HTTP and TLS connections based on the hostname contained in
 the initial request of the TCP session. This enables HTTPS name-based virtual
 hosting to separate backend servers without installing the private key on the
 proxy machine.

Package: sniproxy-dbg
Architecture: any
Section: debug
Priority: extra
Depends: sniproxy (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for sniproxy
 Proxies incoming HTTP and TLS connections based on the hostname contained in
 the initial request. This enables HTTPS name based virtual hosting to separate
 backend servers without the installing the private key on the proxy machine.
 .
 This package contains the debugging symbols for sniproxy.
