#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-dns

override_dh_auto_test:

execute_after_dh_install-indep:
	install -D -m 644 debian/sniproxy.conf debian/sniproxy/etc/sniproxy.conf
	install -D -m 644 debian/logrotate.conf debian/sniproxy/etc/logrotate.d/sniproxy.conf
	install -d -m 750 -o daemon -g adm debian/sniproxy/var/log/sniproxy

