#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/autoreconf.mk

CDBS_BUILD_DEPENDS += , dh-autoreconf

install/sniproxy::
	install -D -m 644 debian/sniproxy.conf debian/sniproxy/etc/sniproxy.conf

